@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://api.fontshare.com/v2/css?f[]=boska@200,201,300,301,400,500,501,700,701,900,901,1,2&");
@import url("https://api.fontshare.com/v2/css?f[]=bonny@100,300,400,500,700&");
@import url("https://api.fontshare.com/v2/css?f[]=general-sans@200,201,300,301,400,401,500,501,600,601,700,701&");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-boska: "Boska", serif;
  --font-bonny: "Bonny", serif;
  --font-generalsans: "General Sans", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
}

@layer base {
  html {
    @apply scroll-smooth;
    /* @apply font-bonny; */
  }
}
